﻿<footer>
    <div class="pull-right">
        ShopMart - Trang quản trị được thiết kế bởi <a href="https://www.facebook.com/longtinh1234">Nguyễn Quốc Toản</a>
    </div>
    <div class="clearfix"></div>
</footer>